*{
    margin: 0%;
    padding: 0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;

}

.calc{
    border: 20px black;
    background-color: black;
    padding: 10px;
}
.content{
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(4,75px);
    padding: 10px;
}
input{
    grid-column: span 4;
    height: 80px;
    box-shadow: inset 0px 5px 8px 10px;

}


  button{
    height: 50px;
    width: 50px;
   margin: 20px;
    rotate: 47deg;
    background-color: rgb(166, 231, 209);
    box-shadow: 10px 2px 8px 4px;
    

  }